{
  "SUPABASE_URL": "https://xxxx.supabase.co",
  "SUPABASE_ANON_KEY": "",
  "REVENUECAT_IOS_KEY": "",
  "REVENUECAT_ANDROID_KEY": "",
  "GOOGLE_WEB_CLIENT_ID": "",
  "FIREBASE_API_KEY": "",
  "FIREBASE_APP_ID": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "FIREBASE_STORAGE_BUCKET": ""
}
